{% extends "./blog/base.html" %}

{% block main%}
<div class="row">
    <div id="vmaig-content">
        <div class="vmaig-comment-edit clearfix">
            <form id="vmaig-comment-form" method="post" role="form">
                {% csrf_token %}
                <!--<textarea id="comment" name="comment" class="form-control" rows="1" placeholder="请输入信息 限200字!"></textarea>-->
                表名:
                    <select id='select-table' onchange="location = this.value;">
                        <option selected value={{cur_table}}>{{cur_table}}</option>
                        {% for table in table_list %}
                        <option value="/rzsq/{{table}}.html">{{ table}}</option>
                        {% endfor %}
                    </select>
                </br>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    添加内容
                </button>
                </br>
                <button type="button" class="btn btn-danger" onclick="cleartable()">清空表格内容</button>
            </form>
            <div name="mytable">
                {{cur_table}}
            </div>
            <div>
                {% for rowkey, record in records.items%}
                <div name={{rowkey}} style='border: 2px solid;; border-radius:25px;'>
                        {% for field_name, field_content in record.items%}
                            <div>
                            <div class="label label-info">{{field_name}}</div>
                            {{field_content}}
                            </div>
                        {%endfor%}
                        <button type="button" class="btn btn-warning delete-record" onclick="deleteRecord({{ rowkey }})">删除记录</button>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document" style="top:200px">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加内容</h4>
            </div>
            <div class="modal-body">
    <div class='container'>
        <div class='rules'>
            <div class='one-rule'>
            <div>
                {% for col in col_list%}
                    </br>
                    <div class='one-rule-detail'>
                            <span class="label label-info">{{col}} </span>
                            <input type="text" placeholder={{col}} class="label-content">
                    </div>
                {% endfor %}
            </div>
                    </br>
                    <div > 
                        <button type="button" class="btn btn-warning delete-rule" >删除规则</button>
                    </div>



                <!--<div class='rule-choose row'>-->
                    <!--<select class='condition col-md-6'>-->
                        <!--<div>col name</div>-->
                        <!--<option selected disabled>选择条件</option>-->
                        <!--{% for condition in condition_list %}-->
                        <!--<option value={{ condition.condition_id }}>{{ condition.condition_name }}</option>-->
                        <!--{% endfor %}-->
                    <!--</select>-->

                <!--</div>-->
            </div>

        </div>
        <div class="btn-group" role="group" style='margin-top: 10px;'>


        </div>
    </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick='addRule()'>添加字段</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                 <button type="button" class="btn btn-success" onclick='submit()'>提交</button>
                <!--<button type="button" class="btn btn-primary" id="chgstatus_btn" onclick="chgstatus_btn()">确定</button>-->
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js%}
<script language="javascript" type="text/javascript">

    $('#vmaig-comment-form').submit(function(e){
        buf = $("#fname").val();
        $.ajax({
            type:"POST",
            url: "/rzsq/",
            data:$("#vmaig-comment-form").serialize(),

            success:function(data){
                location.reload();
                },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        e.preventDefault();
    });

    function addRule() {
            var len = $('.one-rule').length;
            var last_rule = $($('.one-rule')[len-1]);
            $('.rules').append(last_rule.clone());
            last_rule.find('.rule-connection').css('display', 'block');

    }

    $('body').on('click', '.delete-rule', function() {
            var one_rule = $('.one-rule').length;
            if (one_rule == 1) {
                return;
            }
    $(this).parent().parent().parent().remove();
            var len_rule_connection = $('.rule-connection').length;
            var last_rule_connection = $($('.rule-connection')[len_rule_connection-1])
            last_rule_connection.css('display', 'none');
        });

    function submit() {
        var rowinfo = [];
        var rules = $('.one-rule');
        var len = rules.length;
        var rows = []
        var table = $("#select-table").find("option:selected").text(); 
        $.each(rules,function(n,value) {
            var details = $(value).find('.one-rule-detail');
            var row_content = {}
            $.each(details, function(j, val){
                var colname = $(val).find('.label-info').text();
                var content = $(val).find('.label-content').val();
                row_content[colname] = content
            });
            rows.push(row_content)
        })
        var sendInfo = {
            "rows": rows,
            "tablename": table}
        sendInfo = JSON.stringify(sendInfo);
        console.log(sendInfo);
        $.ajax({
                type: "POST",
                url: "/rzsq/",
                dataType: "json",
                data: {operate: "add",sendInfo: sendInfo},
           beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                location.reload();
                },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }
            });
    }
    function deleteRecord(rowkey){
         $.ajax({
                type: "POST",
                url: "/rzsq/",
                dataType: "json",
                data: {operate:"delete_one",rowkey:rowkey},
           beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                location.reload();
                },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }
            });
    }
    function cleartable(){
        var table = $("#select-table").find("option:selected").text(); 
        $.ajax({
                type: "POST",
                url: "/rzsq/",
                dataType: "json",
                data: {operate:"clear_table",tablename:table},
           beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                location.reload();
                },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }
            });

    }
</script>


{% endblock%}



